@charset "utf-8";

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

header#header{}
header#header .topWrap{
  background-color: #0044AF; margin: 0 auto;}
header#header .top{
  width: 1200px;
  margin: 0 auto;}

.top .left{ float: left;}
.top .left li {float: left;}